$color-background: #fbfbfb;
$main-color: #786fc1;

$color-header-background: $main-color;
$color-main-nav-background: #504873;
$color-alert-icon-border: #6554c1;
$color-dashboard-header: #fbfbfb;
$color-search-border: #e1e1e1;
$color-traffic-select-background: #66d18f;
$color-traffict-li-select: white;
$color-traffict-li: #808080;
$color-stat-icon-background: $main-color;
$color-stat-card-background: $color-background;
$color-stat-card-border: $color-search-border;
$color-message-user-input: $color-background;
$color-submit-button: $main-color;
$color-canecel-button: #b2b2b2;
$color-noti-dot: #60e680;
$color-alert: $main-color;
$color-nav-border: #6ae988;
$color-div-border: #dcdcdc;

$header-height: 70px;
$header-element-height: $header-height*0.6;
$height-main-nav: 70px;

// Media query breakpoints
$br-medium: '(min-width: 768px)';
$br-large: '(min-width: 1024px)';
