.widget-heading {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5rem;
  @media #{$br-medium} {
    font-size: 1.2rem;
    font-weight: normal;
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
  }
}

.traffic-div,
.daily-traffic-div,
.mobile-users-div,
.social-stats-div,
.new-members-div,
.recent-activity-div,
.message-user-div,
.settings-div {
  @extend %div-border;
}

.content {
  @media #{$br-medium} {
    display: flex;
    flex-wrap: wrap;
    .dashboard-header-div,
    .traffic-div,
    .social-stats-div {
      width: 100%;
    }
    .daily-traffic-div,
    .mobile-users-div,
    .new-members-div,
    .recent-activity-div,
    .message-user-div,
    .settings-div {
      width: 50%;
    }
    .daily-traffic-div {
      border-right: solid 2px $color-div-border;
    }
    .traffic-chart,
    .daily-traffic-chart,
    .mobile-users-chart {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}
